@charset "UTF-8";
/*===========================================
common formatting
=============================================*/
body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	
	
	vertical-align: middle;
	color:#036;
}

 
#theGame{ 
	width: 320px; 
	margin: 0 auto; 
	align: center; 
	text-align: center;
}

h1 {
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	margin-bottom: 2px;
	margin-top: 2px;
	display:inline;
}

#help {
	background-image:url('../images/help.png');
	height:20px;
	width:60px;
	cursor: pointer;
	background-size:cover;
	display:inline-block;
	margin-left:4px;
}




button {
	width: 100px;
	padding: 0.25em 0;
	text-align: center;
	
	font-size: 20px;
	cursor: pointer;
	color: #fff;
	background-color: #036;
}

button#quitBtn {
	
	margin-top: 20px;
	text-align: center;

	cursor: pointer;
	color: #fff;
	background-color: #930;
}

button#btnQuitCancel{
	background-color: #063;
}

.centered{
    margin-left: auto;
    margin-right: auto;
}

#clue {
	margin-top:5px;
	font-size: 20px;
	}
	
#gameOver, div.#quitConfirm{	
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	color:#f63;
	margin-bottom: 2px;
	font-size: 200%;
	margin: 0px, auto;
	
}



.instructions{
	border-style:solid;
	border-radius: 10px;
	background-color: #6c9;
	padding: 5px;
}

/*============================================================
HangMan Formatting
============================================================*/
.hangman #word {
	font-weight: bold;
	font-size: 200%;
	letter-spacing: 0.25em;
	
	margin-bottom: 0.4em;
	margin-top:0.1em;
	border-style:solid;
	border-radius: 5px;
	font-family:  Tahoma, "Lucida Console", Monaco,  monospace;
}

.hangman .missedLetter{
	color:red;
}

.hangman #letters div {
	width: 15%;
	height:10%;
	
	margin: 0 1.6% 1.5% 0;
	padding-top:3px;
	padding-bottom:3px;
	font-weight: bold;
	font-size: 120%;
	color: #fff;
	background-color: #069;
	float: left;
	border-radius: 5px;
	cursor: pointer;
}



.hangman #letters .row8{/*make space between  bottom row keys smaller*/
	width: 11%;
	margin-right:1.5%;
}

.hangman #letters .row9{/*make space between  bottom row keys smaller*/
	width: 10%;
	margin-right:1.1%;
}

.hangman  #letters .letterDisabled{
	background-color:#CCF;

}


/* turn of floating subsequent elements*/
#letters + *{
	clear:both;
}


#drawingBackground{
			height: 300px;
			width: 300px;
			background-image: url('../images/clouds.jpg');
			background-repeat:repeat-y;
			position:relative;
			margin: 0 auto;
}

#para{
			height: 223px;
			width: 148px;
			background-image: 
				url('../images/parachute_med.png');
			margin: 0px auto;
}

#para_man{
			height: 131px;
			width: 155px;
			background-image: 
				url('../images/parachutist.png');
			left:76px;
			bottom:45px;
			position:absolute;	
			
}

/*=========================================
Word-search game formatting
===========================================*/
.wordsearch #grid {
	font-weight: bold;
	
	letter-spacing: 0;
	
	margin-bottom: 0.4em;
	margin-top:0.1em;
	border-style:solid;
	
	font-family:   Monaco,  monospace;
	cursor: pointer;
	
	
}

.wordsearch table, tr, td{
	padding: 0;
	margin: 0;
	border-style:none;
	border-spacing:0;
	}

.wordsearch .square{
	display: inline-block;
	width: 31px;
	height: 31px;
	
	text-align: center;
	background: url('../images/squares_10.jpg') -31px -0px no-repeat;
	
	/*background: url('../images/squares.jpg') -26px -0px no-repeat;*/
	color: #333;
	padding: 0;
	margin: 0;
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height:31px;
	display: block;
	text-transform: uppercase;
	
}
.wordsearch .selectedSquare{
	background: url('../images/squares_10.jpg') -93px -0px no-repeat ! important;
	/*background: url('../images/squares.jpg') -31px -0px no-repeat ! important;*/
	color: #333 ! important;
	
}
.wordsearch .correctSquare{
	background: url('../images/squares_10.jpg') -155px -0px no-repeat ;
	/*background: url('../images/squares.jpg') -130px -0px no-repeat;*/
	color:#FFF;
}


.wordsearch #wordsToFind .wordFound{
	text-decoration:line-through;
	background-color: #063;
	}

.wordsearch #wordsToFind{
	text-align: center;
	margin-left:auto; 
	margin-right:auto;
	border-spacing:5px;
	border-collapse:separate;
}

.wordsearch div#wordsToFind{
	font-size: 16px;
	font-weight:normal;

}

.wordsearch #wordsToFind td{
	padding: 5px;
	margin: 2px;
	font-size: 16px;
	line-height:16px;
	
	border-radius: 5px;
	width:250px;
	color: #fff;
	background-color:#960;
	
}


/*==========================
Word mix game formatting
============================*/

.wordmix .letterBtn{
	width: 35px;
	height:35px;
	padding-top:3px;
	padding-bottom:0px;
	font-weight: bold;
	font-size: 30px;
	color: #fff;
	background-color: #069;
	
	border-radius: 5px;
	cursor: pointer;
}

.wordmix #letters table {
margin-left: auto;
margin-right: auto;
	
}

.wordmix #word table {
margin-left: auto;
margin-right: auto;
	
}


.wordmix #word {
	padding-top: 8px;
	padding-bottom: 8px;
	width: 320px;
	background-color: #69c;
	
}


.wordmix #letters .letterDisabled{
	background-color: #fff;
	
}


#letters td{
	padding:4px;}



.wordmix #word .letterBtn{
	width: 32px;
	height:33px;
	margin-right: 1px;
	border-width:1px;
	border-color:#CCC;
	border-style:solid;
}

.wordmix #word.wordCorrect{
	background-color: #393;
}

.wordmix #word.wordWrong{
	background-color: #c33;
}

.wordmix #word .letterEmpty {
	background-color: #fff;



}

.wordmix .wordCorrect .letterPlace{
	background-color: #0c3;
}
.wordmix .wordWrong .letterPlace{

	background-color: #f30;
}

.wordmix #image{
	width:300px;
	height: 200px;
	margin: 0 auto;
}


/*=====================*/
/*iphone styles go here*/
@media screen and (max-device-height: 480px){
#drawingBackground{
			height: 150px;
			width: 300px;
			background-image: url('../images/clouds.jpg');
			background-repeat:repeat-y;
			position:relative;
}

#para{
			height: 110px;
			width: 270px;
			background-image: 
				url('../images/parachute_fat.png');
			margin: 0px auto;
}

#para_man{
			height: 75px;
			width: 89px;
			background-image: 
				url('../images/parachutist_small.png');
			left:105px;
			bottom:0px;
			position:absolute;	
			
}  

#gameOver{	
	font-size: 150%;
	
}

body {
	height:450px;
 }
 
}
